[submodule "arduino/Battery_Monitor/ArduinoLightMDNS"]
	path = arduino/Battery_Monitor/src/ArduinoLightMDNS
	url = https://github.com/matthewgream/ArduinoLightMDNS
	branch = main
[submodule "arduino/Battery_Monitor/DalyBMSInterface"]
	path = arduino/Battery_Monitor/src/DalyBMSInterface
	url = https://github.com/matthewgream/DalyBMSInterface
	branch = main
